Repository asyncapi/website, changes with the owners that CODEOWNERS names for each.
All owners: @derberg, @akshatnema, @anshgoyalevil, @sambhavgupta0705, @mayaleeeee, @asyncapi-bot-eve, @thulieblack, @TRohit20, @bandantonio

chore: update tools.json
  config/all-tags.json
  config/tools-automated.json
  config/tools.json
Owners: @derberg, @akshatnema, @anshgoyalevil, @sambhavgupta0705, @mayaleeeee, @asyncapi-bot-eve

chore: update tools.json (#4280)
  config/all-tags.json
  config/tools-automated.json
  config/tools.json
Owners: @derberg, @akshatnema, @anshgoyalevil, @sambhavgupta0705, @mayaleeeee, @asyncapi-bot-eve

Update markdown/blog/coc-report.md
  markdown/blog/coc-report.md
Owners: @thulieblack, @TRohit20

remove the redundancy
  components/campaigns/AnnouncementHero.tsx
Owners: @derberg, @akshatnema, @anshgoyalevil, @sambhavgupta0705, @mayaleeeee, @asyncapi-bot-eve

updated the code and test
  next-env.d.ts
  scripts/markdown/check-edit-links.ts
  tests/markdown/check-edit-links.test.ts
Owners: @derberg, @akshatnema, @anshgoyalevil, @sambhavgupta0705, @mayaleeeee, @asyncapi-bot-eve

updated the code and test
  tests/markdown/check-edit-links.test.ts
Owners: @derberg, @akshatnema, @anshgoyalevil, @sambhavgupta0705, @mayaleeeee, @asyncapi-bot-eve

ci: update of files from global .github repo
  .github/workflows/notify-tsc-members-mention.yml
Owners: @derberg, @akshatnema, @anshgoyalevil, @sambhavgupta0705, @mayaleeeee, @asyncapi-bot-eve

chore(blog): add CoC Incident Report (#4148)
  markdown/blog/coc-report.md
  public/img/posts/conflict-resolve.webp
Owners: @thulieblack, @TRohit20, @derberg, @akshatnema, @anshgoyalevil, @sambhavgupta0705, @mayaleeeee, @asyncapi-bot-eve

fix: #4065 Case Studies page table is now mobile responsive
  next-env.d.ts
  pages/casestudies/index.tsx
Owners: @derberg, @akshatnema, @anshgoyalevil, @sambhavgupta0705, @mayaleeeee, @asyncapi-bot-eve

chore(blog): add May community spotlight (#4111)
  markdown/blog/community-spotlight-aayush.md
  public/img/posts/marketing-images/aayush-spotlight.webp
Owners: @thulieblack, @TRohit20, @derberg, @akshatnema, @anshgoyalevil, @sambhavgupta0705, @mayaleeeee, @asyncapi-bot-eve

fix: #3905 Added Missing Links to Tools Card and also added tags to the card so it will provide more information about project
  config/tools.json
Owners: @derberg, @akshatnema, @anshgoyalevil, @sambhavgupta0705, @mayaleeeee, @asyncapi-bot-eve

docs: replace reference-style links to direct links
  markdown/docs/concepts/asyncapi-document/tags.md
Owners: @thulieblack, @TRohit20, @asyncapi-bot-eve

vision-101
  markdown/blog/2025-july-summary.md
  markdown/blog/2025-may-summary.md
  markdown/blog/first-governance-elections.md
  public/img/posts/2025-blog-banner/banner-july.webp
Owners: @thulieblack, @TRohit20, @derberg, @akshatnema, @anshgoyalevil, @sambhavgupta0705, @mayaleeeee, @asyncapi-bot-eve

fix: #4241 added margin to the hero section so now it is not overlapping with navbar.
  pages/tools/index.tsx
Owners: @derberg, @akshatnema, @anshgoyalevil, @sambhavgupta0705, @mayaleeeee, @asyncapi-bot-eve

fix: #4065 Case Studies page table is now mobile responsive
  next-env.d.ts
  pages/casestudies/index.tsx
Owners: @derberg, @akshatnema, @anshgoyalevil, @sambhavgupta0705, @mayaleeeee, @asyncapi-bot-eve

fix: #4065 Case Studies page table is now mobile responsive
  next-env.d.ts
Owners: @derberg, @akshatnema, @anshgoyalevil, @sambhavgupta0705, @mayaleeeee, @asyncapi-bot-eve

fix: small change
  .github/workflows/if-nodejs-pr-testing.yml
Owners: @derberg, @akshatnema, @anshgoyalevil, @sambhavgupta0705, @mayaleeeee, @asyncapi-bot-eve

fix: small change
  .github/workflows/if-nodejs-pr-testing.yml
Owners: @derberg, @akshatnema, @anshgoyalevil, @sambhavgupta0705, @mayaleeeee, @asyncapi-bot-eve

ci: add ci workflows (#4227)
  .github/workflows/if-nodejs-pr-testing.yml
Owners: @derberg, @akshatnema, @anshgoyalevil, @sambhavgupta0705, @mayaleeeee, @asyncapi-bot-eve

CODEOWNERS:

# This file provides an overview of code owners in this repository.

# Each line is a file pattern followed by one or more owners.
# The last matching pattern has the most precedence.
# For more details, read the following article on GitHub: https://help.github.com/articles/about-codeowners/.

# The default owners are automatically added as reviewers when you open a pull request unless different owners are specified in the file.
* @derberg @akshatnema @anshgoyalevil @sambhavgupta0705 @mayaleeeee @asyncapi-bot-eve

# All .md files
*.md @thulieblack @TRohit20 @asyncapi-bot-eve

markdown/blog/*.md @thulieblack @TRohit20
markdown/community/*.md @thulieblack @bandantonio @TRohit20 

README.md @thulieblack @derberg @akshatnema @mayaleeeee @TRohit20 @asyncapi-bot-eve
#docTriagers: bandantonio CBID2 
#codeTriagers: devilkiller-ag vishvamsinh28
